#login-main-div{
  width: 70%;
  height: 500px;
  margin: 0 auto;
  background: rgba(0,255, 0, 0.1);
}
#service-welcome-heading{
  margin: 45px 0 35px 0;
}
#service-login-heading{
  margin: 45px 0 35px 0;
}
